.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.page-header
{
    position:relative;
    display: block;
}
.toolbar
{
    text-transform: uppercase;
    font-size: 1em;
    line-height: 36px;
    padding:0.5em 0;
}
.toolbar-links
{
    float: left;
}

.search-form{
    display: inline-block;
    position:relative;
}
form {
    margin:0;
}
.search-form input {
    box-sizing: content-box;
    border: 1px solid transparent;
    background: transparent;
    margin-top: -1px;
    padding: 1px 10px 0px 20px;
    width: 120px;
    height: 38px;
    font: inherit;
    font-size: 13px;
    line-height: 38px;
    color: inherit;
    text-transform: none;
}
