/*--- RWD ---*/
.row {
    margin: 10px 10px;
    position: relative;
    overflow: hidden;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 2%;
    overflow: hidden;
}

/* 5-column design */
.col-0 { width: 10%}
.col-1 { width: 20%; }
.col-2 { width: 30%;}
.col-3 { width: 40%; }
.col-4 { width: 50%; }
.col-5 { width: 60%; }
.col-6 { width: 70%; }
.col-7 { width: 80%; }
.col-8 { width: 90%; }
.col-9 { width: 100%; }


@media only screen and (max-width: 580px) {
    .column { width: 100%; margin-bottom: 10px; }
    .column:last-child { margin-bottom: 0; }
}



/*--- Rest of CSS ---*/

body {
    color: black;
    /*background-color: floralwhite;*/
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(170, 221, 170, 0.04);
    border: 2px ridge silver;
}
header h1 {
    font-size: 18pt;
    font-weight:bold;
    text-align: center;
}

/*header .logo {*/
    /*font-size: 1em;*/
    /*margin-top: 0.375em;*/
    /*margin-right: auto;*/
    /*margin-bottom: 0.375em;*/
    /*margin-left: auto;*/
    /*width: 3.9em;*/
    /*left: 0;*/
    /*display:block;*/
    /*position: relative;*/
/*}*/
footer {
    font-size: 10pt;
    text-align: center;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;


}
nav {
    background-color: white;
    border: 1px dashed #c0c0c0;
}
nav a {
    font-size: 10pt;
    display: block;
    padding: 1.5mm;
    font-weight: bold;
}
aside {
    /*background-color: #EEE;*/
    border: 1px dashed #c0c0c0;
}
aside h2 {
    font-size: 12pt;
    margin: 0.5mm 0mm;
}
aside p {
    font-size: 8pt;
    margin: 0.5mm 0mm;
}
section {
    background-color: white;
    border: 1px dashed #c0c0c0;
}
section h2 {
    font-size: 14pt;
}
section p {
    font-size: 12pt;
    margin: 3mm 0;
}
/*logo*/

/*.logo{*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    /*float: left;*/
    /*width: 100%;*/

/*}*/
